{%  extends 'template.html' %}

{% load static %}

{% block body %}

    <section class="card bg-success" style="border-radius: 25px">
        <!--for demo wrap-->
        <h1>User Database</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th>Photo</th>
                        <th>Password</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John Njoroge</td>
                        <td>njoroj@retro.co.ke </td>
                        <td>+254 712 345678</td>
                        <td>Photo_1</td>
                        <td>5149ef89b597b796c98bc60d6ffb453b4d068b933a12adaa1621e0a05e43bcba</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jane Doe</td>
                        <td>doj@doj.gov</td>
                        <td>+1 (776) 0123456</td>
                        <td>Photo_2</td>
                        <td>195bc6822b5d03d0c116ed54048d6bd883184ce3044eddd73c8349c66ea9fb97</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>John Njoroge</td>
                        <td>njoroj@retro.co.ke </td>
                        <td>+254 712 345678</td>
                        <td>Photo_1</td>
                        <td>5149ef89b597b796c98bc60d6ffb453b4d068b933a12adaa1621e0a05e43bcba</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Jane Doe</td>
                        <td>doj@doj.gov</td>
                        <td>+1 (776) 0123456</td>
                        <td>Photo_2</td>
                        <td>195bc6822b5d03d0c116ed54048d6bd883184ce3044eddd73c8349c66ea9fb97</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>John Njoroge</td>
                        <td>njoroj@retro.co.ke </td>
                        <td>+254 712 345678</td>
                        <td>Photo_1</td>
                        <td>5149ef89b597b796c98bc60d6ffb453b4d068b933a12adaa1621e0a05e43bcba</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Jane Doe</td>
                        <td>doj@doj.gov</td>
                        <td>+1 (776) 0123456</td>
                        <td>Photo_2</td>
                        <td>195bc6822b5d03d0c116ed54048d6bd883184ce3044eddd73c8349c66ea9fb97</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>John Njoroge</td>
                        <td>njoroj@retro.co.ke </td>
                        <td>+254 712 345678</td>
                        <td>Photo_1</td>
                        <td>5149ef89b597b796c98bc60d6ffb453b4d068b933a12adaa1621e0a05e43bcba</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Jane Doe</td>
                        <td>doj@doj.gov</td>
                        <td>+1 (776) 0123456</td>
                        <td>Photo_2</td>
                        <td>195bc6822b5d03d0c116ed54048d6bd883184ce3044eddd73c8349c66ea9fb97</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>John Njoroge</td>
                        <td>njoroj@retro.co.ke </td>
                        <td>+254 712 345678</td>
                        <td>Photo_1</td>
                        <td>5149ef89b597b796c98bc60d6ffb453b4d068b933a12adaa1621e0a05e43bcba</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Jane Doe</td>
                        <td>doj@doj.gov</td>
                        <td>+1 (776) 0123456</td>
                        <td>Photo_2</td>
                        <td>195bc6822b5d03d0c116ed54048d6bd883184ce3044eddd73c8349c66ea9fb97</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
